.center-screen {
    padding-top : 10% !important;
    padding-bottom: 15% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center !important;
    min-height: 100vh !important;
  }


.input-div{
    display: flex;
    text-align: center
}