<!--
<table>
  <tr *ngFor="let student of Student">
    <td>
      <img src="{{student.image_url}}" alt="">
    </td>
  </tr>
</table> -->


<!-- <div class="row">
  <mdb-image-modal [modalImages]="Student" type="no-margin"></mdb-image-modal>
</div> -->



<!-- <div class="row">
  <mdb-image-modal [modalImages]="student" type="no-margin"></mdb-image-modal>
</div> -->

<!-- <div style="text-align: right !important; display: block; margin-right: 0%; margin-top: -10vh; padding: 1%">

  <h3>{{local_user.displayName}}</h3>

</div> -->

<div class="container">
	<div class="row">
		<div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let student of Student">
                  <!-- <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                    data-image="{{student.image_url}}"
                    data-target="#image-gallery"> -->
                    <a  class="btn" (click)=image_clicked(student) >
                      <img class="img-thumbnail"
                      src="{{student.image_url}}"
                      height="800px"
                      width="800px">
                    </a>

                <!-- </a> -->
            </div>
    </div>
  </div>
</div>
<div class="spinner_container" *ngIf = "!Student">
  <mat-progress-spinner

  class="example-margin"
  [color]="color"
  [mode]="mode"
  [diameter]=300
  >
  </mat-progress-spinner>
</div>
