<div class="container">

  <h3>Converted Image</h3>

  <p>Name  : {{image_details.name}}</p>

  <img src="{{image_details.image_url}}"
       class="img-rounded" alt="Responsive Image"
       width="100%" height="auto" />
</div>
